#image-caption {
    padding: 0;
    display: inline;
}
.images {
    justify-content: space-around;
    display: flex;
    align-items: center;
}
.caption {
    justify-content: space-around;
    display: flex;
        align-items: center;
}
img {
    border-radius: 25px;
    margin-bottom: 0px;
}
#charity {
    text-decoration: none;
    color: #7D68D9;
  font-weight: normal;
  letter-spacing: 0;
  display: inline;
  text-align: left;
  transition: none;
}