#image-caption {
    padding: 0;
    display: inline;
}
.images {
    justify-content: space-around;
    display: flex;
    align-items: center;
}
.caption {
    justify-content: space-around;
    display: flex;
    align-items: center;
}
.paragraphs {
    padding: 0 100px 0 100px;
}
img {
    border-radius: 25px;
    margin-bottom: 0px;
}
h2 {
    text-align: center;
}

#img1 {
    margin-left: 200px;
}
#img2 {
    margin-right: 200px;
}

#charity {
    text-decoration: none;
    color: #7D68D9;
    font-weight: normal;
    letter-spacing: 0;
    display: inline;
    text-align: left;
    transition: none;
}
