/** {*/
/*  border: 1px solid red;*/
/*}*/

html {
  padding: 0;
  background-color: #efe3da;
}

body {
  background-color: #fcf0e5;
  font-family: "Open Sans", sans-serif;
  max-width: 960px;
  margin: auto;
}

h1,
h2 {
  font-family: "Montserrat", sans-serif;
}
input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.modal {
  background-color: #efe3da;
}
#submit {
  color: #6A8D73;
}


input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
a {
  color: white;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition: all 0.5s;
}

a:hover, #submit:hover {
  color: #F18B86
}

p {
  line-height: 1.5em;
}

.blurb {
  text-align: center;
}

#schedule-appointment {
  background-color: #F18B86;
  border-radius: 5px;
  padding: 10px;
}

#content {
  padding: 90px 5em 0 5em;
}

footer {
  display: flex;
  width: 100%;
  height: 400px;
  background-color: #6A8D73;
  color: white;
  font-weight: 200;
  letter-spacing: .05em;
}

footer a {
  display: inline;
}

#contact-info,
#map {
  margin: 3em;
}

#contact-info {
  width: 40%;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contact-info p {
  line-height: 2em;
}

#contact-info h5 {
  margin: 0;
  font-size: 20px;
}

#social-media-container {
  font-size: 1.75em;
  letter-spacing: 0.25em;
}

#map {
  width: 60%;
}

.header {
  display: none;
  text-align: center;
  background-color: #6A8D73;
  padding: 10px;
}

.wrapper {
  max-width: 960px;
}

.toggleNav {
  display: none;
  background-color: #6A8D73;
  font-size: 200%;
}

.flex-nav ul {
  background-color: #6A8D73;
  list-style: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  max-width: 960px;
  margin-top: 0;
  top: 0;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
}

.flex-nav li:not(:first-child) {
  margin: 0 20px;
}

.logo {
  font-family: "Titan One", Times, serif, cursive;
  color: white;
  font-size: 200%;
  margin-right: auto;
}

.logo2 {
  font-family: "Titan One", Times, serif, cursive;
  color: white;
  font-size: 200%;
  margin-right: auto;
}

@media all and (max-width: 800px) {
  .header {
    display: block;
  }
  .toggleNav {
    display: block;
  }
  .flex-nav li {
    flex-basis: 100%;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  /* flex item */
  .wrapper > * {
    order: 9999;
  }

  .flex-nav ul {
    display: none;
  }

  .flex-nav ul.open {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }

  .logo {
    display: none;
  }

  #content {
    padding-top: 0;
  }
}
