
.services-container {
    display: flex;
    flex-direction: row;
    /*width: 500px;*/
    flex-wrap: wrap;
    justify-content: center;
}

.service-tile {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 3px;
    background-color: #F18B86;
    width: 275px;
    margin: 10px;
    text-align: center;
    flex: 0 1 auto;
    padding-bottom: 20px;
    justify-content: center;
    box-shadow: inset -5px -5px 5px 0px #EDF7EE, 
                inset 5px 5px 5px 0px #BCB3AB;
}

.service-tile:hover {
    transform: scale(1.25);
}

#service-content {
    padding-left: 10px;
    padding-right: 10px;
    flex-grow: 2;
    
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-bottom: 60px;
}
img {
    margin: auto;
}
.column {
    column-count: 2;
}