{% extends "base.html" %} 
{% block title %} Services {% endblock %}
{% block css %}
        <link href="static/css/about.css" rel="stylesheet" type="text/css">
{% endblock %} 
{% block content %}
<h2>About PediPaws</h2>
<div>

<p  class='paragraphs'>At PediPaws, discover professional grooming services performed 
by experienced groomers who love animals! We are passionate about positive 
training methods with rewards, never harsh words or punishment. 
With a certified groomer on staff, we do everything to provide your pet with a 
fantastic spa day.

No matter the age, size or breed of your four legged friend are happy to help. 
Your furry friend will be greeted by name and we will ensure 
that he or she is comfortable and happy through the entire process. 
We will treat your pet with love and respect and as if he or she were our own.</p>
    </div>
    <div id="meet">
<h2>Meet our Groomer!</h2>
    <div class='images'><img id='img1' src="static/img/groomer.jpg" width="150" height="200">
    <img id='img2' src="https://scontent.fhou1-2.fna.fbcdn.net/v/t1.0-9/12933162_10108001968318224_6143811874550208506_n.jpg?_nc_cat=0&oh=f0518601148222375faa3099bab86a64&oe=5B5D2D27" width ="150">
   </div><div class='caption'>
    <p id="image-caption1">Aaron</p>
    <p id="image-caption2">Henry</p></div>

    <p  class='paragraphs'>Aaron received his certification as a Veterinary Assistant in 2010. He 
    has been our top groomer at PediPaws for almost 5 years. 
    He has a beautiful cat named Henry, who he assures us is the Best Cat&#8482. Come 
    see why both Aaron and Henry love PediPaws!</p>
    <h2>History</h2>
    <p  class='paragraphs'>PediPaws was founded on April 25, 2018, with a single client who got squeaky
    clean with a garden hose, then proceeded to roll in the muddy lawn again.
    Today we are a fully functional facility run by 5 co-partners and cater to 
    over 100 clients every month, from great danes to munchkin felines!</p>
    <p  class='paragraphs'>Moving forward, we hope to sponsor more pet-related charity events, including
    the <a id="charity" href="https://www.eventbrite.com/e/greenawalds-service-inc-fun-run-for-veterans-rescue-dogs-support-tickets-44906561735?aff=es2">
    Fun-Run for Veterans & Rescue Dogs</a> on May 26 at Bear Creek Park. We also
    have plans to expand to a new location in Cypress, TX!</p>
        </div>

</div>

{% endblock %}