{% extends "base.html" %} 
{% block title %} Services {% endblock %}
{% block css %}
        <link href="static/css/about.css" rel="stylesheet" type="text/css">
{% endblock %} 
{% block content %}
<h2>About PediPaws</h2>
<div>

<p>At PediPaws, discover professional grooming services performed 
by experienced groomers who love animals! We are passionate about positive 
training methods with rewards, never harsh words or punishment. 
With a certified groomer on staff, we do everything to provide your pet with a 
fantastic spa day.

No matter the age, size or breed of your four legged friend are happy to help. 
Your furry friend will be greeted by name and we will ensure 
that he or she is comfortable and happy through the entire process. 
We will treat your pet with love and respect and as if he or she were our own.</p>
    </div>
    <div id="meet">
<h2>Meet our Groomer!</h2>
    <img src="https://avatars3.githubusercontent.com/u/16642710?s=460&v=4" width="150">
    <p id="image-caption">Aaron</p>
    <p>Aaron received his certification as a Veterinary Assistant in 2010. He 
    has been our top groomer at PediPaws for almost 5 years. 
    He has a beautiful cat named Henry, who he assures us is the best cat. Come 
    see why both Aaron and Henry love PediPaws!</p>
    <h2>History</h2>
        </div>

</div>

{% endblock %}