{% extends "base.html" %} {% block title %} Schedule an Appointment {% endblock %} {% block css %}
<link rel="stylesheet" type="text/css" href="static/css/appointments.css"> {% endblock %} {% block content %}
<form id="appointment-form" action="" method="POST">
    First Name:
    <br>
    <input id="fname" type="text" name="fname" placeholder="First Name">
    <br> Last Name:
    <br>
    <input id="lname" type="text" name="lname" placeholder="Last Name">
    <br> Pet Name:
    <br>
    <input id="petname" type="text" name="petname" placeholder="Pet Name">
    <br> Service:
    <br>
    <select>
        <option value="BlackTieSpecial">Black Tie Special - $200</option>
        <option value="CasualFriday">Casual Friday - $50</option>
        <option value="SundayBest">Sunday Best - $75</option>
        <option value="NailTrim:Dog">Nail Trim: Dog - $25</option>
        <option value="NailTrim:Cat/SmallDog">Nail Trim: Cat/Small Dog - $20</option>
        <option value="Haircut">Haircut - $30</option>
        <option value="SummerCut">Summer Cut - $45</option>
        <option value="Wash">Wash - $35</option>
        <option value="ColorTreatment:Dog">Color Treatment: Dog - $75</option>
        <option value="ColorTreatment:Cat/SmallDog">Color Treatment: Cat/Small Dog - $60</option>
    </select>
    <br> Appointment Date:
    <br>
    <input id="date" type="date" name="date">
    <br> Appointment Time:
    <br>
    <select>
        <option value="800AM">8:00 AM</option>
        <option value="830AM">8:30 AM</option>
        <option value="900AM">9:00 AM</option>
        <option value="930AM">9:30 AM</option>
        <option value="1000AM">10:00 AM</option>
        <option value="1030AM">10:30 AM</option>
        <option value="1100AM">11:00 AM</option>
        <option value="1130AM">11:30 AM</option>
        <option value="1200PM">12:00 AM</option>
        <option value="1230PM">12:30 AM</option>
        <option value="100PM">1:00 AM</option>
        <option value="130PM">1:30 AM</option>
        <option value="200PM">2:00 AM</option>
        <option value="230PM">2:30 AM</option>
        <option value="300PM">3:00 AM</option>
        <option value="330PM">3:30 AM</option>
        <option value="400PM">4:00 AM</option>
        <option value="430PM">4:30 AM</option>
        <option value="500PM">5:00 AM</option>
        <option value="530PM">5:30 AM</option>
        <option value="600PM">6:00 AM</option>
        <option value="630PM">6:30 AM</option>
    </select>
    <br> Contact Information:
    <br> Email:
    <br>
    <input id="fname" type="email" name="email" placeholder="example@gmail.com">
    <br> Telephone Number:
    <br>
    <input id="phone" type="tel" name="phone" placeholder="XXX-XXX-XXXX">
    <br>
    <button type="submit">Schedule Your Appointment!</button>
    <br>
    <textarea>Special Comments?</textarea>

</form>
{% endblock %} {% block script %}
<script src="static/js/appointments.js" type="text/javascript"></script>
{% endblock %}