{% extends "base.html" %} {% block css %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/css/index.css"> {% endblock %} {% block content %}

<body>

    <div class="slideshow-container">

        <div class="mySlides fade">
            <div class="numbertext"></div>
            <img src="/static/img/slide2.png" style="width:100%">

        </div>

        <div class="mySlides fade">
            <div class="numbertext"></div>
            <img src="/static/img/slide3.jpeg" style="width:100%">

        </div>

        <div class="mySlides fade">
            <div class="numbertext"></div>
            <img src="/static/img/slide9.jpg" style="width:100%">

        </div>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

    </div>
    <br>

    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>
    <!-- Are we putting reviews here? -->
    <!--Blurb-->
    <div class="blurb">
        <h1>Who we are</h1>
        <h4>We are a high end pet grooming service. </h4>
        <p>Lorem ipsum dolor amet chambray leggings sustainable selfies gentrify heirloom migas beard four loko sriracha meggings
            hella iceland. Man braid offal subway tile, af ennui semiotics normcore bushwick gastropub etsy pinterest microdosing
            8-bit. Cred fixie paleo hella blue bottle YOLO activated charcoal, austin PBR&B before they sold out aesthetic.
            Try-hard vexillologist biodiesel edison bulb, pabst flexitarian gastropub.</p>
    </div>
    {% endblock %} {% block script %}
    <script src="/static/js/index.js" type="text/javascript"></script>{% endblock %}