{% extends "base.html" %} 
{% block title %} Services {% endblock %} 

{% block css %}
<link rel="stylesheet" type="text/css" href="static/css/services.css">
<script src="static/js/services.js" type="text/javascript"></script>
{% endblock %} 

{% block content %}
<h2>SERVICES</h2>
<div class="services-container">
    {% for service in ppservices %}
    <div class="service-tile">
        <div id="service-heading"><h3>{{ service.service }}</h3></div>
        <div id="service-content"><p>{{ service.description }}</p></div>
        <div id="service-duration"><h4>{{service.duration}} mins</h4></div>
        <div id="service-price"><h4>${{ service.price }}.00</h4></div>
        <!--<div id="service-groomer"><h4>{{ service.groomer }}</h4></div>-->
    </div>
    {% endfor %}
</div>
{% endblock %}